examples/*.blif
**/*.dot
examples/*.pdf
examples/*.tar.gz
examples/*.instructions
examples/obj_dir
**/.DS_STORE
**/sim-dir-*

emulator/out
emulator/.bloop
emulator/.metals
emulator/*.sv


# Added by cargo

**/target
