**/*.dot
**/.DS_STORE
**/sim-dir*
**/blif-sim-dir-*
**/ise_project

examples/*.blif
examples/*.pdf
examples/*.tar.gz
examples/*.instructions
examples/obj_dir

compiler/emulation-info
**/DEBUG*

emulator/out
emulator/.bloop
emulator/.metals
emulator/*.sv
emulator/__pycache__
emulator/results.xml
emulator/sim_build
emulator/test/*

metasim/build-dir
metasim/libVdut.so
**/*.vcd

# Added by cargo

**/target
