examples/*.blif
**/*.dot
examples/*.pdf
examples/*.tar.gz
examples/*.instructions
examples/obj_dir
**/.DS_STORE
**/sim-dir-*

**/ise_project

emulator/out
emulator/.bloop
emulator/.metals
emulator/*.sv
emulator/__pycache__
emulator/results.xml
emulator/sim_build
emulator/test/*


# Added by cargo

**/target
